# Grab your api key from genui cloud
NEXT_PUBLIC_GENUI_API_KEY=your_genui_api_key_here

NEXT_PUBLIC_DOCS_URL=https://docs.genui.co

## Optional: API url for local development
NEXT_PUBLIC_GENUI_URL=

## Optional: Github - for star counter on the header
GITHUB_TOKEN=

# Optional: Posthog Analytics
NEXT_PUBLIC_POSTHOG_HOST=your_posthog_host_here
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key_here
